#useless files and directories, feel free to modify later if any file is needed.
.deps
autom4te.cache

arm_simulator 
config.h
config.log
config.status
configure*
Makefile
memory_test
registers_test
send_irq
stamp-h1
aclocal.m4
build-aux
arm_*.*
scanner.l 
README 
Makefile.*
Examples 
aclocal.m4
config.h.in
config.h.in~
configure
logs.txt
test_arm_data_processing





# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
